<div class="modal fade" id="instrutionModal" tabindex="-1" aria-labelledby="instrutionModalLabel" aria-hidden="true" style="z-index: 1101">
  <div class="modal-dialog modal-xl">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="instrutionModalLabel">Instruções</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>

      <div class="modal-body d-flex mt-3" style="gap: 40px">
        <p class="text-dark fw-light" style="font-weight: 500; margin-top: -4px; font-size: 15px; margin-bottom: 1px;">Tempo esperado para a realização da redação: <strong>1h 30min</strong></p>
      </div>
    </div>
  </div>
</div>
