<div class="modal fade" id="confirmStartModal" tabindex="-1" aria-labelledby="confirmStartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header border-0">
        <h6 class="modal-title text-white" id="confirmStartModalLabel">Iniciar redação</h6>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        Você tem certeza de que deseja iniciar a redação valendo? O tempo começará a ser contado imediatamente e ficará salvo no histórico.
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="confirmStartRealButton">Confirmar</button>
      </div>
    </div>
  </div>
</div>
