<h4 style="margin-top: 3px;">
  <i class="bi bi-book fs-4" style="margin-right: 10px"></i>
  Redações
</h4>
<div>
  <table class="table table-bordered mt-4" style="width: 99%;">
    <thead>
      <tr>
        <th style="font-size: 17px; font-weight: 510;" scope="col">Tema</th>
        <th style="font-size: 17px; font-weight: 510;" scope="col">Tipo da Prova</th>
        <th style="font-size: 17px; font-weight: 510;" scope="col">Genêro Textual</th>
        <th style="font-size: 17px; font-weight: 510;" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @redacoes.each do |redacao| %>
        <tr>
          <td style="font-size: 15px; font-weight: 450;"><%= redacao.tema %></td>
          <td style="font-size: 15px; font-weight: 450;"><%= redacao.word_type.upcase %></td>
          <td style="font-size: 15px; font-weight: 450;">Texto Dissertativo-Argumentativo</td>
          <td style="font-size: 15px; font-weight: 450;">
            <%= link_to edit_admin_redaco_path(redacao) do %>
              <i class="bi bi-pencil-square text-dark fs-4" style="position: relative; left: 3px; bottom: 3px" ></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
