<% if flash[:alert] %>
  <div class="alert alert-success alert-dismissible fade show text-center" role="alert" style="margin-top: -3px">
    <%= flash[:alert] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
