<div class="row">
  <a href="/">
    <img src="/images/logo.png" style="width: 200px; height: 200px; margin-top: -50px; margin-left: 15px">
  </a>
</div>
<div style="margin-left: 25px; margin-top: -10px; width: 235px">
  <div class="row">
    <nav class="menu">
      <%= link_to '/user/dashboard', class: "menu-link #{'active' if current_page?('/user/dashboard')}" do %>
        <i class="bi bi-collection-play fs-4" style="margin-right: 10px"></i>
        Meus Cursos
      <% end %>

      <%= link_to '/user/redacoes', class: "menu-link #{'active' if current_page?('/user/redacoes')}" do %>
        <i class="bi bi-book fs-4" style="margin-right: 10px"></i>
        Minhas Redações
      <% end %>

      <%= link_to '/user/settings', class: "menu-link #{'active' if current_page?('/user/settings')}" do %>
        <i class="bi bi-gear-wide-connected fs-4" style="margin-right: 10px"></i>
        Configurações
      <% end %>
    </nav>
  </div>
</div>
