<div class="row">
  <a href="/">
    <img src="/images/logo.png" style="width: 200px; height: 200px; margin-top: -50px; margin-left: 15px">
  </a>
</div>
<div style="margin-left: 25px; margin-top: -10px; width: 235px">
  <div class="row">
    <nav class="menu">
      <a href="/admin/dashboard">
        <i class="bi bi-border-all fs-4" style="margin-right: 10px"></i>
        Dashboard
      </a>

      <a href="/admin/redacoes">
        <i class="bi bi-book fs-4" style="margin-right: 10px"></i>
        Redações
      </a>

      <a href="/admin/dashboard">
        <i class="bi bi-backpack fs-4" style="margin-right: 10px"></i>
        Cursos
      </a>
    </nav>
  </div>
</div>
