body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#modulos {
  display: flex; /* Alinha os itens em uma linha */
  flex-wrap: wrap; /* Permite quebrar a linha se os itens não couberem */
  gap: 10px; /* Espaçamento entre os módulos */
}

/* Módulos individuais */
#modulos .modulo {
  display: flex; /* Flexbox para cada módulo */
  flex-direction: column; /* Cada módulo terá seus itens empilhados verticalmente */
  padding: 15px; /* Padding interno dos módulos */
  border: 1px solid #ccc; /* Borda para cada módulo */
  border-radius: 15px; /* Borda arredondada */
  width: 24.2%; /* Largura de cada módulo */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.modulo button {
  font-weight: 600;
  padding: 3px;
}

.aulas {
  margin-top: -5px;
}

.aula {
  background-color: rgba(196, 196, 196, 0.603);
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
  color: black
}

.video-upload label {
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 600;
}

.video-upload i {
  font-size: 1.5rem; /* Ajusta o tamanho do ícone */
}

td:first-child, th:first-child {
  text-align: center;
  vertical-align: middle;
}

input[type="checkbox"] {
  transform: scale(1.3);
  margin: 5px;
}

.preview_card {
  padding: 10px;
  width: 100%;
  background-color: rgba(201, 201, 201, 0.411);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.img {
  padding: 15px;
  border-radius: 20px;
}

.preview_content {
  max-width: 40%;
  margin-left: 20px;
}

.container-redacoes {
  background-color: gainsboro;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.container-redacoes-escolhidas {
  background-color: rgba(201, 201, 201, 0.411);
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.card-redacao {
  width: 19%;
  background-color: whitesmoke;
  padding: 0px;
  margin-right: 13px;
  border-radius: 10px;
}

.img-redacao {
  border-radius: 10px;
  text-align: center;
  background-color: black;
  width: 70%;
  left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 15px;
}

.img-redacao img {
  min-height: 70%;
  min-width: 70%;
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
}

.word-content {
  margin-top: 10px;
  text-align: center;
  width: 70%;
  left: 15%;
  position: relative;
}

.word-content h6 {
  font-size: 14px;
}

.word-type-label {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 500;
  z-index: 10;
  font-size: 13px
}

.borda {
  max-width: 100%;
  margin: 1rem;
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  min-height: 95%;
}

.admin-chat-container {
  display: grid;
  grid-template-columns: 300px 1fr 20px;
  height: 80vh;
  font-family: 'Segoe UI', sans-serif;
}

.chat-sidebar {
  background: #f5f5f5;
  padding: 1rem;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  height: 83vh;
}

.chat-item {
  padding: 1rem;
  cursor: pointer;
  border-top: 1px solid #ddd;
  margin-left: -25px;
  padding-left: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  background: whitesmoke;
  font-weight: 350;
}

.chat-item.active {
  background-color: #ddddddd9;
}

.chat-main {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 83vh;
}

.chat-header {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.chat-messages {
  padding: 1rem;
  overflow-y: auto;
  height: 83vh;
}

.message {
  margin-bottom: 0.5rem;
  padding: 0.6rem 1rem;
  border-radius: 15px;
  max-width: 70%;
  font-size: 15px;
  font-weight: 450;
}

.message.admin {
  background: #d1ecf1;
  align-self: flex-start;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.message.user {
  background: #c3e6cb;
  align-self: flex-end;
  margin-left: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.chat-input {
  padding: 1rem;
  border-top: 1px solid #ccc;
  background: #35353513;
  width: 100%;
}

.chat-input .input-group {
  width: 100%;
}

.chat-input .form-control {
  width: 100%;
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
  color: white;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.chat-input .btn {
  border-radius: 0 0.25rem 0.25rem 0;
  flex-shrink: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.table-admin {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-top: -10px;
  overflow-x: auto;
  background-color: whitesmoke;
}

.table-admin table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
}

.table-admin th,
.table-admin td {
  text-align: left;
  font-size: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.table-admin thead th {
  background-color: #000000d9;
  font-weight: 500;
  color: #dedede;
  font-size: 16px;
}

.table-admin tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.2s ease;
}

.table-admin td:last-child i {
  cursor: pointer;
  transition: color 0.3s;
}

.table-admin td:last-child i:hover {
  color: #0d6efd;
}

.badge {
  background-color: #1d1d1d;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  margin-right: 10px;
}

.preco-riscado {
  text-decoration: line-through;
  margin-left: 8px;
  color: #888;
}

.hover {
  transition: transform 0.3s ease-in-out;
}

.hover:hover {
  transform: scale(1.008);
}


.vestibulares {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-top: -12px;
}


.vestibulares h2 {
  text-align: center;
  margin-bottom: -10px;
  font-weight: 50;
  font-size: 25px
}

.vestibulares hr {
  opacity: 20%;
  background-color: #302d2d; /* tom de cinza claro */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

.vestibular {
  display: flex;
  flex-wrap: wrap;
  gap: 30px
}

.vestibular-card img{
  width: 260px;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.vestibular-card {
  transition: transform 0.3s ease;
}

.vestibular-card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.vestibular-card:hover img {
  opacity: 80%;
}