<div class="d-flex gap-2 mt-3 mb-3">
  <a href="/admin/cursos" class="btn btn-secondary px-3 py-2" style="border-radius: 10px">
    <i class="bi bi-box-arrow-left fs-4 me-1"></i>
    <span style="position: relative; top: -4px; font-weight: 600">Voltar</span>
  </a>

  <%= f.button type: "submit", class: "btn btn-success px-3 py-0", style: "border-radius: 10px" do %>
    <i class="bi bi-check-circle-fill fs-4 me-1"></i>
    <span style="position: relative; top: -4px; font-weight: 600">Salvar</span>
  <% end %>

  <button type="button" id="add-modulo" class="btn btn-primary px-3 py-0" style="border-radius: 10px">
    <i class="bi bi-plus-circle-fill fs-4 me-1"></i>
    <span style="position: relative; top: -4px; font-weight: 600">Adicionar Módulo</span>
  </button>
</div>
