<div class="d-flex gap-2 mt-3 mb-3">
  <%# Voltar %>
  <a href="/admin/cursos" class="btn btn-secondary px-3 py-1" style="border-radius: 10px">
    <i class="bi bi-box-arrow-left fs-4 me-1"></i>
    <span style="position: relative; top: -4px; font-weight: 600">Voltar</span>
  </a>

  <%# Salvar %>
  <%= f.button type: "submit", class: "btn btn-success px-3 py-0", style: "border-radius: 10px" do %>
    <i class="bi bi-check-circle-fill fs-4 me-1"></i>
    <span style="position: relative; top: -4px; font-weight: 600">Salvar</span>
  <% end %>

  <%# Adicionar Módulo %>
  <button type="button" id="add-modulo" class="btn btn-primary px-3 py-0" style="border-radius: 10px">
    <i class="bi bi-plus-circle-fill fs-4 me-1"></i>
    <span style="position: relative; top: -4px; font-weight: 600">Adicionar Módulo</span>
  </button>

  <%# Escolher Capa %>
  <label class="btn btn-info px-3 py-0 text-white" style="border-radius: 10px;">
    <i style="position: relative; top: 4px;" class="bi bi-file-image-fill fs-4 me-1"></i>
    <span id="imagem_label_text" style="position: relative; top: 1px; font-weight: 600;">
      <%= @curso.imagem.attached? ? @curso.imagem.filename.to_s.truncate(25) : "Escolher Capa" %>
    </span>
    <%= f.file_field :imagem, style: "display: none;", id: "imagem_input" %>
  </label>

  <%# Remover capa %>
  <%= f.hidden_field :remove_imagem, id: "remove_imagem_field" %>
  <button type="button" class="btn btn-danger px-3 py-0" onclick="removerImagem()" style="border-radius: 10px;">
    <i class="bi bi-trash-fill fs-4 me-1"></i>
    <span style="position: relative; top: -3px; font-weight: 600;">
      Remover Capa
    </span>
  </button>
</div>

<script>
  function removerImagem() {
    document.getElementById('imagem_input').value = "";
    document.getElementById('remove_imagem_field').value = "1";
    document.getElementById('imagem_label_text').innerText = "Escolher Capa";
  }
</script>
