<div class="container mt-3 fixed-container">
  <div class="card-freight shadow p-5 fixed-card">
    <%= render partial: 'list_freights'%>
    <br>
    <%= render partial: 'header_fields' %>
  </div>
</div>
