<div class="admin-chat-container d-flex">
  <%= render "left_panel" %>
  <%= render "right_panel" %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const bottom = document.getElementById("bottom");
    if (bottom) {
      bottom.scrollIntoView({ behavior: "smooth" });
    }
  });
</script>
