




<div class="redacoes-container mt-3">
  <h5 href="/">
    <i class="bi bi-book fs-4" style="margin-right: 10px"></i>
    <span style="position: relative; top: -2px;">Minhas Redações</span>
  </h5>

  <div class="redacoes-card mt-3 bg-white d-flex flex-column align-items-center col-4">
    <img src="/images/enem.jpg">
    <h1 class="text-secondary">DESAFIOS PARA A VALORIZAÇÃO DA HERANÇA AFRICANA NO BRASIL</h1>
  </div>
</div>
