<div class="row" style="margin-top: 60px;">
  <h3> Alunos aprovados </h3><br>
</div>
<div class="row">
  <div class="col-2">
    <img src="/images/maislinda.png" alt="alunos">
    <h6 class="mt-2"> Lais Curtulo Anadão </h6>
    <p>Direito ● UFMG</p>
  </div>
  <div class="col-2">
    <img src="/images/maislinda.png" alt="alunos">
    <h6 class="mt-2"> Lais Curtulo Anadão </h6>
    <p>Direito ● UFMG</p>
  </div>
  <div class="col-2">
    <img src="/images/maislinda.png" alt="alunos">
    <h6 class="mt-2"> Lais Curtulo Anadão </h6>
    <p>Direito ● UFMG</p>
  </div>
  <div class="col-2">
    <img src="/images/maislinda.png" alt="alunos">
    <h6 class="mt-2"> Lais Curtulo Anadão </h6>
    <p>Direito ● UFMG</p>
  </div>
</div>
