<div class="container py-1">
  <div class="mb-2 ms-4 d-flex" style="width: 93%;">
    <i class="bi bi-backpack2 fs-4" style="margin-top: -7px; margin-right: 9px; margin-left: 10px;"></i>
    <h2 class="ms-2" style="font-size: 21px; font-weight: 400;">Alunos aprovados</h2>
  </div>

  <hr class="text-dark" style="width: 95.6%; margin-left: 30px; margin-bottom: 20px; margin-top: -13px; opacity: 10%;">

  <div class="row d-flex ms-3" style="width: 97.7%;">
    <div class="col-md-2">
      <div class="text-center shadow hover-medium">
        <img src="/images/lais-aprovada.png" alt="Laís aprovada"
            class="shadow-sm"
            style="width: 166px; height: 140px; object-fit: cover;">
        <div class="mt-2">
          <strong>Laís</strong><br>
          <small class="text-muted">Direito - UFMG</small>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="text-center shadow hover-medium">
        <img src="/images/aluna_2.png" alt="João aprovado"
            class="shadow-sm"
            style="width: 166px; height: 140px; object-fit: cover;">
        <div class="mt-2">
          <strong>Daniele</strong><br>
          <small class="text-muted">Ciên. de Computação - USP</small>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="text-center shadow hover-medium">
        <img src="/images/aluna_3.png" alt="João aprovado"
            class="shadow-sm"
            style="width: 166px; height: 140px; object-fit: cover;">
        <div class="mt-2">
          <strong>Luana</strong><br>
          <small class="text-muted">Medicina - USP</small>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="text-center shadow hover-medium">
        <img src="/images/aluna_5.png" alt="João aprovado"
            class="shadow-sm"
            style="width: 166px; height: 140px; object-fit: cover;">
        <div class="mt-2">
          <strong>Júlia</strong><br>
          <small class="text-muted">Medicina - UAM</small>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="text-center shadow hover-medium">
        <img src="/images/aluna_6.png" alt="João aprovado"
            class="shadow-sm"
            style="width: 166px; height: 140px; object-fit: cover;">
        <div class="mt-2">
          <strong>Maria Beatriz</strong><br>
          <small class="text-muted">Enfermagem - USP</small>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="text-center shadow hover-medium">
        <img src="/images/aluna_4_carol.png" alt="João aprovado"
            class="shadow-sm"
            style="width: 166px; height: 140px; object-fit: cover;">
        <div class="mt-2">
          <strong>Carol</strong><br>
          <small class="text-muted">Medicina - USP</small>
        </div>
      </div>
    </div>
  </div>
</div>