<div class="container py-1">
  <div class="mb-1 ms-4 d-flex" style="width: 93%;">
    <i class="bi bi-mortarboard fs-5 icon-mobile-size margin-top-mobile-icon" style="margin-top: -5px; margin-right: 9px; margin-left: 10px;"></i>
    <h2 class="ms-2 mobile-text-title" style="font-size: 19px; font-weight: 400;">Alunos aprovados</h2>
  </div>

  <hr class="text-dark mobile-none" style="width: 95.6%; margin-left: 30px; margin-bottom: 15px; margin-top: -7px; opacity: 10%;">

  <div class="row d-flex ms-3 alunos-aprovados-card-mobile" style="width: 97.7%;">
    <div class="col-md-2">
      <div class="text-center shadow hover-medium">
        <img src="/images/lais-aprovada.png" alt="Laís aprovada"
            class="shadow-sm"
            style="width: 166px; height: 140px; object-fit: cover;">
        <div class="mt-1">
          <strong style="font-size: 14px;">Laís</strong><br>
          <small style="font-size: 13px;" class="text-muted">Direito - UFMG</small>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="text-center shadow hover-medium">
        <img src="/images/aluna_2.png" alt="João aprovado"
            class="shadow-sm"
            style="width: 166px; height: 140px; object-fit: cover;">
        <div class="mt-1">
          <strong style="font-size: 14px;">Daniele</strong><br>
          <small style="font-size: 13px;" class="text-muted">Ciên. de Computação - USP</small>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="text-center shadow hover-medium">
        <img src="/images/aluna_3.png" alt="João aprovado"
            class="shadow-sm"
            style="width: 166px; height: 140px; object-fit: cover;">
        <div class="mt-1">
          <strong style="font-size: 14px;">Luana</strong><br>
          <small style="font-size: 13px;" class="text-muted">Medicina - USP</small>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="text-center shadow hover-medium">
        <img src="/images/aluna_5.png" alt="João aprovado"
            class="shadow-sm"
            style="width: 166px; height: 140px; object-fit: cover;">
        <div class="mt-1">
          <strong style="font-size: 14px;">Júlia</strong><br>
          <small style="font-size: 13px;" class="text-muted">Medicina - UAM</small>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="text-center shadow hover-medium">
        <img src="/images/aluna_6.png" alt="João aprovado"
            class="shadow-sm"
            style="width: 166px; height: 140px; object-fit: cover;">
        <div class="mt-1">
          <strong style="font-size: 14px;">Maria Beatriz</strong><br>
          <small style="font-size: 13px;" class="text-muted">Enfermagem - USP</small>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="text-center shadow hover-medium">
        <img src="/images/aluna_4_carol.png" alt="João aprovado"
            class="shadow-sm"
            style="width: 166px; height: 140px; object-fit: cover;">
        <div class="mt-1">
          <strong style="font-size: 14px;">Carol</strong><br>
          <small style="font-size: 13px;" class="text-muted">Medicina - USP</small>
        </div>
      </div>
    </div>
  </div>
</div>