<div class="carousel-section">
  <div class="carousel-wrapper">
    <button class="carousel-btn prev">&#10094;</button>
    <div class="carousel-container">
      <div class="carousel-track">
        <% 3.times.each do |item| %>
          <div class="carousel-slide">
            <img class="carousel-image" src="/images/banner-civic.png" alt="Login image" />
          </div>
        <% end %>
      </div>
    </div>
    <button class="carousel-btn next">&#10095;</button>
  </div>
</div>