<div class="scroll" style="margin-bottom: -40px;">
  <div class="scroll_container">
    <% 8.times.each do |item| %>
      <div class="scroll_item">10% OFF NA PRIMEIRA COMPRA</div>
    <% end %>
  </div>
</div>
