<div class="container mb-5 flex-wrap justify-content-center" style="margin-top: -25px; width: 1240px;">
  <div class="w-100 d-flex" style="margin-left: 38px">
    <div class="insta-wrapper shadow" style="margin-left: -8px">
      <div class="insta-loader"></div>
      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DHY5FXbp2YM/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" data-instgrm-version="14"></blockquote>
    </div>

    <div class="insta-wrapper shadow">
      <div class="insta-loader"></div>
      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DHybX1Ss5L6/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" data-instgrm-version="14"></blockquote>
    </div>

    <div class="insta-wrapper shadow">
      <div class="insta-loader"></div>
      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DHOQ_SNMx-n/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" data-instgrm-version="14"></blockquote>
    </div>
  </div>
</div>

<div class="container mb-5 flex-wrap justify-content-center" style="margin-top: -50px; width: 1240px;">
  <div class="w-100 d-flex" style="margin-left: 38px">
    <div class="insta-wrapper shadow" style="margin-left: -8px">
      <div class="insta-loader"></div>
      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DHHitvXs0aO/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" data-instgrm-version="14"></blockquote>
    </div>

    <div class="insta-wrapper shadow">
    </div>

    <div class="insta-wrapper shadow">
    </div>
  </div>
</div>

<%= render 'vestibulares' %>
<%= render 'alunos_aprovados' %>

<script async src="//www.instagram.com/embed.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const wrappers = document.querySelectorAll('.insta-wrapper');

    wrappers.forEach(wrapper => {
      const observer = new MutationObserver(() => {
        const iframe = wrapper.querySelector('iframe');
        if (iframe) {
          setTimeout(() => {
            wrapper.querySelector('.insta-loader')?.remove();
          }, 4000);

          observer.disconnect();
        }
      });

      observer.observe(wrapper, {
        childList: true,
        subtree: true
      });
    });
  });
</script>
