<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprova Redação</title>
    <script async src="//www.instagram.com/embed.js"></script>
  </head>
  <body>
    <%= render partial: "layouts/shared/header" %>

    <div class="container d-flex mb-5" style="margin-top: -40px;">
      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DHY5FXbp2YM/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" data-instgrm-version="14" style="margin: auto;">
      </blockquote>

      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DHybX1Ss5L6/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" data-instgrm-version="14" style="margin: auto;">
      </blockquote>

      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DHOQ_SNMx-n/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" data-instgrm-version="14" style="margin: auto;">
      </blockquote>
    </div>

    <div class="container d-flex mb-5" style="margin-top: -40px;">
      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DHY5FXbp2YM/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" data-instgrm-version="14" style="margin: auto;">
      </blockquote>

      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DHybX1Ss5L6/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" data-instgrm-version="14" style="margin: auto;">
      </blockquote>

      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DHOQ_SNMx-n/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" data-instgrm-version="14" style="margin: auto;">
      </blockquote>
    </div>

    <footer class="footer">
      <div class="container footer-top">
        <div class="logo-section">
          <img src="/images/logo.png" alt="Aprova Total" class="logo" />
          <%# <p>Transformando sonhos em aprovações</p> %>
        </div>
        <div class="footer-links">
          <div class="icon-footer">
            <a href="" class="text-white" style="text-decoration: none;">
              <i class="bi bi-instagram fs-1"></i>
            </a>
          </div>
          <div class="icon-footer">
            <a href="" class="text-white" style="text-decoration: none;">
              <i class="bi bi-linkedin fs-1"></i>
            </a>
          </div>
          <div class="icon-footer">
            <a href="" class="text-white" style="text-decoration: none;">
              <i class="bi bi-facebook fs-1"></i>
            </a>
          </div>
          <div class="icon-footer">
            <a href="" class="text-white" style="text-decoration: none;">
              <i class="bi bi-youtube fs-1"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="contact-info">
          <p><strong>Números Oficiais de Vendas:</strong> (19) 99246-0527 | (19) 99246-0527</p>
        </div>
        <div class="copyright">
          <p>Copyright © 2025 Aprova Redação</p>
        </div>
      </div>
    </footer>


    <div class="loader" id="loadingOverlay">
      <div class="spinner-loader"></div>
    </div>
  </body>
</html>

<style>
  .instagram-media {
    width: 32%;
    max-height: 570px;
  }

  .container-instagram {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }
</style>