<div class="container mt-3 margin-top-mobile-min">
  <%= render 'carrosel' %>
</div>

<div style="margin-top: 30px;">
  <%= render 'vestibulares' %>
</div>

<div style="margin-top: 5px;">
  <%= render 'alunos_aprovados' %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const track = document.querySelector('.carousel-track');
    const prevBtn = document.querySelector('.carousel-btn.prev');
    const nextBtn = document.querySelector('.carousel-btn.next');
    const container = document.querySelector('.carousel-container');

    let scrollAmount = 0;
    const scrollStep = container.offsetWidth * 1.01;

    nextBtn.addEventListener('click', () => {
      scrollAmount = Math.min(scrollAmount + scrollStep, track.scrollWidth - container.clientWidth);
      track.style.transform = `translateX(-${scrollAmount}px)`;
    });

    prevBtn.addEventListener('click', () => {
      scrollAmount = Math.max(scrollAmount - scrollStep, 0);
      track.style.transform = `translateX(-${scrollAmount}px)`;
    });
  });
</script>
