<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprova Redação</title>
  </head>
  <body>
    <%= render partial: "layouts/shared/header" %>

    <div class="container">
      <%= render 'carrosel' %>
    </div>

    <br>

    <div class="beneficios">
      <div class="beneficio">
        <a class="text-dark" style="text-decoration: none;">
          <i class="bi bi-person-vcard fs-1"></i>
          <h3>Correções humanas</h3>
          <p>Análises alinhadas ao ENEM e às principais bancas do Brasil: Fuvest, Unesp, Unicamp e UFPR.</p>
        </a>
      </div>
      <div class="beneficio">
        <a class="text-dark" style="text-decoration: none;">
          <i class="bi bi-journal-text fs-1"></i>
          <h3>Temas construtivos</h3>
          <p>Análises alinhadas ao ENEM e às principais bancas do Brasil: Fuvest, Unesp, Unicamp e UFPR.</p>
        </a>
      </div>
      <div class="beneficio">
        <a class="text-dark" style="text-decoration: none;">
          <i class="bi bi-camera-video fs-1"></i>
          <h3>Repertório Expandido</h3>
          <p>Análises alinhadas ao ENEM e às principais bancas do Brasil: Fuvest, Unesp, Unicamp e UFPR.</p>
        </a>
      </div>
      <div class="beneficio">
        <a class="text-dark" style="text-decoration: none;">
          <i class="bi bi-clipboard-check fs-1"></i>
          <h3>Resultados comprovados</h3>
          <p>Análises alinhadas ao ENEM e às principais bancas do Brasil: Fuvest, Unesp, Unicamp e UFPR.</p>
        </a>
      </div>
    </div>

    <div class="vestibulares">
      <h2> Vestibulares </h2>

      <hr>
      <div class="vestibular">
        <div class="vestibular-card">
          <a href="/cursos/1/edit" class="text-dark" style="text-decoration: none;">
            <img src="/images/unicamp.jpg" alt="Login image" />
          </a>
        </div>
        <div class="vestibular-card">
          <a href="/cursos/2/edit" class="text-dark" style="text-decoration: none;">
            <img src="/images/enem.jpg" alt="Login image" />
          </a>
        </div>
        <div class="vestibular-card">
          <a href="/cursos/3/edit" class="text-dark" style="text-decoration: none;">
            <img src="/images/unesp.jpg" alt="Login image" />
          </a>
        </div>
        <div class="vestibular-card">
          <a href="/cursos/4/edit" class="text-dark" style="text-decoration: none;">
            <img src="/images/usp.jpg" alt="Login image" />
          </a>
        </div>
      </div>
      <hr>
    </div>


    <div class="container-apresentacao mt-5">
      <div class="apresentacao">
        <div class="img">
          <img class="" src="/images/van.png" alt="Login image" />
        </div>
        <div class="apresentacao-content mt-4">
          <h1>Vanessa Curtulo Anadão</h1>
          <h3>Experiência</h3>
          <p>Há 25 anos, Álvaro Silas Uliani Martins dos Santos assessora clientes nacionais e estrangeiros em operações envolvendo fusões e aquisições em indústrias diversas. Auxilia fundos de investimento nacionais e internacionais na realização de investimentos em companhias brasileiras (private equity e venture capital), além de companhias brasileiras na captação de recursos junto a fundos de investimento nacionais e internacionais. Atua junto a clientes nacionais e internacionais na constituição de sociedades no Brasil, celebração de joint ventures e acordos de acionistas, reorganizações societárias e projetos envolvendo implementação de melhores práticas de governança corporativa.</p>
          <h3>Formação Acadêmica</h3>
          <p>Graduação em Direito pela Pontifícia Universidade Católica de São Paulo (PUC-SP) </p>
        </div>
      </div>
    </div>

    <br><br><br><br><br>

    <footer class="footer">
      <div class="container footer-top">
        <div class="logo-section">
          <img src="/images/logo.png" alt="Aprova Total" class="logo" />
          <p>Transformando sonhos em aprovações</p>
        </div>
        <div class="footer-links">
          <div class="icon-footer">
            <a href="" class="text-white" style="text-decoration: none;">
              <i class="bi bi-instagram fs-1"></i>
            </a>
          </div>
          <div class="icon-footer">
            <a href="" class="text-white" style="text-decoration: none;">
              <i class="bi bi-linkedin fs-1"></i>
            </a>
          </div>
          <div class="icon-footer">
            <a href="" class="text-white" style="text-decoration: none;">
              <i class="bi bi-facebook fs-1"></i>
            </a>
          </div>
          <div class="icon-footer">
            <a href="" class="text-white" style="text-decoration: none;">
              <i class="bi bi-youtube fs-1"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="contact-info">
          <p><strong>Números Oficiais de Vendas:</strong> (19) 99246-0527 | (19) 99246-0527</p>
        </div>
        <div class="copyright">
          <p>Copyright © 2025 Aprova Redação</p>
        </div>
      </div>
    </footer>


    <div class="loader" id="loadingOverlay">
      <div class="spinner-loader"></div>
    </div>
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const track = document.querySelector('.carousel-track');
    const prevBtn = document.querySelector('.carousel-btn.prev');
    const nextBtn = document.querySelector('.carousel-btn.next');
    const container = document.querySelector('.carousel-container');

    let scrollAmount = 0;
    const scrollStep = container.offsetWidth * 1.01;

    nextBtn.addEventListener('click', () => {
      scrollAmount = Math.min(scrollAmount + scrollStep, track.scrollWidth - container.clientWidth);
      track.style.transform = `translateX(-${scrollAmount}px)`;
    });

    prevBtn.addEventListener('click', () => {
      scrollAmount = Math.max(scrollAmount - scrollStep, 0);
      track.style.transform = `translateX(-${scrollAmount}px)`;
    });
  });
</script>
