<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprova Redação</title>
  </head>
  <body>
    <nav>
      <div class="scroll" style="margin-bottom: -40px;">
        <div class="scroll_container">
          <% 8.times.each do |item| %>
            <div class="scroll_item">10% OFF NA PRIMEIRA COMPRA</div>
          <% end %>
        </div>
      </div>
      <div class="container">
        <div class="logo">
          <img src="/images/logo_preto.png" alt="Logo" style="margin-left: -25px; display: flex;">
        </div>
        <nav class="menu">
          <a href="/">Quem somos</a>
          <a href="/">Vestibulares</a>
          <a href="/">Colegial</a>
          <a href="/">Iniciante</a>
        </nav>
        <div class="navbar-buttons" style="margin-right: -15px; display: flex; gap: 10px;">
          <a href="/inscricao" class="btn btn-light text-custom-nav">Quero me inscrever</a>
          <a href="/admin/dashboard" class="btn btn-dark text-custom-nav">Já sou aluno</a>
        </div>
      </div>

      <hr class="custom-hr">
    </nav>

    <div class="container">
      <div class="card-welcome text-dark">
        <div class="banner row">
          <div class="col-5">
            <img src="/images/livros.png" alt="banner">
          </div>
          <div class="col-7" style="margin-top: 115px;">
            <h2>Como alcançar a Nota 1000 no ENEM?</h2>
            <p>Se você quer conquistar uma excelente pontuação na redação do ENEM, este curso é ideal para você! Ao longo das aulas, você aprenderá as técnicas essenciais para desenvolver um texto dissertativo-argumentativo de qualidade, atendendo a todos os critérios de avaliação da prova.</p>
            <br>
            <h4>O que você vai aprender:</h4>
            <p>
               •  Como construir uma introdução impactante; <br>
               •  Técnicas para desenvolver argumentos sólidos e convincentes; <br>
               •  Como elaborar uma conclusão que sintetize suas ideias com eficácia; <br>
               •  A importância da norma culta da língua e da coesão textual; <br>
               •  Estratégias para interpretar os temas de forma crítica e reflexiva.
            </p>
          </div>
        </div>

        <div class="row mt-5">
          <h3> Alunos aprovados </h3><br>
        </div>
        <div class="row">
          <% 6.times.each do |item| %>
            <div class="col-2">
              <img src="/images/maislinda.png" alt="alunos">
              <h6 class="mt-2"> Lais Curtulo Anadão </h6>
              <p>Direito ● UFMG</p>
            </div>
          <% end %>
        </div>

        <div class="banner row mt-5 mb-5">
          <div class="col-8" style="margin-top: 115px;">
            <h2>Como alcançar a Nota 1000 no ENEM?</h2>
            <p>Se você quer conquistar uma excelente pontuação na redação do ENEM, este curso é ideal para você! Ao longo das aulas, você aprenderá as técnicas essenciais para desenvolver um texto dissertativo-argumentativo de qualidade, atendendo a todos os critérios de avaliação da prova.</p>
            <br>
            <h4>O que você vai aprender:</h4>
            <p>
               •  Como construir uma introdução impactante; <br>
               •  Técnicas para desenvolver argumentos sólidos e convincentes; <br>
               •  Como elaborar uma conclusão que sintetize suas ideias com eficácia; <br>
               •  A importância da norma culta da língua e da coesão textual; <br>
               •  Estratégias para interpretar os temas de forma crítica e reflexiva.
            </p>
          </div>
          <div class="col-4">
            <img src="/images/banner.png" alt="banner">
          </div>
        </div>
        </div>
      </div>
    <div>
    <footer class="footer">
      <div class="container">
        <p class="text-white mt-3">&copy; 2025 Aprova Redação. Todos os direitos reservados.</p>
      </div>
    </footer>
  </body>
</html>
