<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprova Redação</title>
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="logo">
          <img src="/images/logo.png" alt="Logo">
        </div>
        <nav class="menu">
          <a href="#">Quem somos</a>
          <a href="#">Vestibulares</a>
          <a href="#">Colegial</a>
          <a href="#">Iniciante</a>
        </nav>
        <div class="btn btn-dark">
          <a class="text-white text-custom" href="#">Já sou aluno</a>
        </div>
      </div>
    </nav>
    <div class="container-body">
      <div class="scroll">
        <div class="scroll_container">
          <% 6.times.each do |item| %>
            <div class="scroll_item">10% OFF NA PRIMEIRA COMPRA</div>
          <% end %>
        </div>
      </div>
      <div class="banner">
      </div>
    </div>
  </body>
</html>
