<div class="container mt-3 margin-top-mobile-min">
  <%= render 'carrosel' %>
</div>

<div class="margin-top-negative" style="margin-top: 30px;">
  <%= render 'vestibulares' %>
</div>

<div class="margin-top-mobile-max-extra" style="margin-top: 5px;">
  <%= render 'alunos_aprovados' %>
</div>

<div class="margin-top-mobile-max-extra-extra" style="margin-top: 35px;">
  <%= render partial: '/welcomes/provas_anteriores' %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const track = document.querySelector('.carousel-track');
    const slides = document.querySelectorAll('.carousel-slide');
    const prevBtn = document.querySelector('.carousel-btn.prev');
    const nextBtn = document.querySelector('.carousel-btn.next');

    let index = 0;

    function updateCarousel() {
      track.style.transform = `translateX(-${index * 101}%)`;
    }

    nextBtn.addEventListener('click', () => {
      index = (index + 1) % slides.length; // volta pro início quando chegar no fim
      updateCarousel();
    });

    prevBtn.addEventListener('click', () => {
      index = (index - 1 + slides.length) % slides.length; // vai pro último se voltar no início
      updateCarousel();
    });
  });
</script>
