<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprova Redação</title>
  </head>
  <body>
    <%= render partial: "layouts/shared/header" %>

    <div class="container">
      <%= render 'carrosel' %>
    </div>

    <div class="vestibulares">
      <hr>
      <div class="vestibular">
        <div class="vestibular-card">
          <a href="/cursos/1/edit" class="text-dark" style="text-decoration: none;">
            <img src="/images/unicamp.jpg" alt="Login image" />
          </a>
        </div>
        <div class="vestibular-card">
          <a href="/cursos/2/edit" class="text-dark" style="text-decoration: none;">
            <img src="/images/enem-branco.jpg" alt="Login image" />
          </a>
        </div>
        <div class="vestibular-card">
          <a href="/cursos/3/edit" class="text-dark" style="text-decoration: none;">
            <img src="/images/unesp.jpg" alt="Login image" />
          </a>
        </div>
        <div class="vestibular-card">
          <a href="/cursos/4/edit" class="text-dark" style="text-decoration: none;">
            <img src="/images/usp.jpg" alt="Login image" />
          </a>
        </div>
      </div>
      <hr>
    </div>

    <br><br>

    <footer class="footer">
      <div class="container footer-top">
        <div class="logo-section">
          <img src="/images/logo.png" alt="Aprova Total" class="logo" />
          <p>Transformando sonhos em aprovações</p>
        </div>
        <div class="footer-links">
          <div class="icon-footer">
            <a href="" class="text-white" style="text-decoration: none;">
              <i class="bi bi-instagram fs-1"></i>
            </a>
          </div>
          <div class="icon-footer">
            <a href="" class="text-white" style="text-decoration: none;">
              <i class="bi bi-linkedin fs-1"></i>
            </a>
          </div>
          <div class="icon-footer">
            <a href="" class="text-white" style="text-decoration: none;">
              <i class="bi bi-facebook fs-1"></i>
            </a>
          </div>
          <div class="icon-footer">
            <a href="" class="text-white" style="text-decoration: none;">
              <i class="bi bi-youtube fs-1"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="contact-info">
          <p><strong>Números Oficiais de Vendas:</strong> (19) 99246-0527 | (19) 99246-0527</p>
        </div>
        <div class="copyright">
          <p>Copyright © 2025 Aprova Redação</p>
        </div>
      </div>
    </footer>


    <div class="loader" id="loadingOverlay">
      <div class="spinner-loader"></div>
    </div>
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const track = document.querySelector('.carousel-track');
    const prevBtn = document.querySelector('.carousel-btn.prev');
    const nextBtn = document.querySelector('.carousel-btn.next');
    const container = document.querySelector('.carousel-container');

    let scrollAmount = 0;
    const scrollStep = container.offsetWidth * 1.01;

    nextBtn.addEventListener('click', () => {
      scrollAmount = Math.min(scrollAmount + scrollStep, track.scrollWidth - container.clientWidth);
      track.style.transform = `translateX(-${scrollAmount}px)`;
    });

    prevBtn.addEventListener('click', () => {
      scrollAmount = Math.max(scrollAmount - scrollStep, 0);
      track.style.transform = `translateX(-${scrollAmount}px)`;
    });
  });
</script>
