<div class="container mt-3 margin-top-mobile-min">
  <%= render 'carrosel' %>
</div>

<div style="margin-top: 30px;">
  <%= render 'vestibulares' %>
</div>

<div class="container">
  <div class="mb-3 ms-4 d-flex" style="width: 93%;">
    <i class="bi bi-chevron-double-left fs-4" style="margin-top: -7px; margin-right: 6px; margin-left: 10px;"></i>
    <h2 class="ms-2" style="font-size: 18px; font-weight: 400;">Provas Anteriores</h2>
  </div>
</div>

<div style="margin-top: 5px;">
  <%= render 'alunos_aprovados' %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const track = document.querySelector('.carousel-track');
    const prevBtn = document.querySelector('.carousel-btn.prev');
    const nextBtn = document.querySelector('.carousel-btn.next');
    const container = document.querySelector('.carousel-container');

    let scrollAmount = 0;
    const scrollStep = container.offsetWidth * 1.01;

    nextBtn.addEventListener('click', () => {
      scrollAmount = Math.min(scrollAmount + scrollStep, track.scrollWidth - container.clientWidth);
      track.style.transform = `translateX(-${scrollAmount}px)`;
    });

    prevBtn.addEventListener('click', () => {
      scrollAmount = Math.max(scrollAmount - scrollStep, 0);
      track.style.transform = `translateX(-${scrollAmount}px)`;
    });
  });
</script>
