<div class="full-width-container d-flex flex-wrap" style="display: flex; gap: 15px; width: 96%; margin-left: 17px">
  <% @cursos.each do |curso| %>
      <a href="/cursos/<%= curso.id %>/edit" class="cursos-card mt-3 bg-white d-flex flex-column align-items-center text-center text-dark" style="flex: 1 1 22%; max-width: 22%; min-width: 200px; text-decoration: none">
        <% if curso.imagem.attached? %>
          <%= image_tag curso.imagem.variant(resize_to_limit: [1000, 1000]).processed %>
        <% end %>
        <h1 class="text-dark"><%= curso.name %></h1>
        <p class="fw-light" style="margin-top: -15px; margin-bottom: 8px;">10x de R$ 15,99</p>
      </a>
  <% end %>
</div>
