<h6 style="margin-top: 1px; display: flex">
  <i class="bi bi-book-half fs-5" style="margin-right: 10px; margin-top: -3px;"></i>
  Editar Tema Gratuito - <%= @tema.id %>
</h6>

<%= render partial: 'form' %>