body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#modulos {
  display: flex; /* Alinha os itens em uma linha */
  flex-wrap: wrap; /* Permite quebrar a linha se os itens não couberem */
  gap: 10px; /* Espaçamento entre os módulos */
}

/* Módulos individuais */
#modulos .modulo {
  display: flex; /* Flexbox para cada módulo */
  flex-direction: column; /* Cada módulo terá seus itens empilhados verticalmente */
  padding: 15px; /* Padding interno dos módulos */
  border: 1px solid #ccc; /* Borda para cada módulo */
  border-radius: 15px; /* Borda arredondada */
  width: 24.2%; /* Largura de cada módulo */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.modulo button {
  font-weight: 600;
  padding: 3px;
}

.aulas {
  margin-top: -5px;
}

.aula {
  background-color: rgba(196, 196, 196, 0.603);
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
  color: black
}

.video-upload label {
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 600;
}

.video-upload i {
  font-size: 1.5rem; /* Ajusta o tamanho do ícone */
}

td:first-child, th:first-child {
  text-align: center;
  vertical-align: middle;
}

input[type="checkbox"] {
  transform: scale(1.01);
  margin: 5px;
}

.preview_card {
  padding: 10px;
  width: 100%;
  background-color: rgba(201, 201, 201, 0.411);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.img {
  padding: 15px;
  border-radius: 20px;
}

.preview_content {
  max-width: 40%;
  margin-left: 20px;
}

.container-redacoes {
  background-color: gainsboro;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.container-redacoes-escolhidas {
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1px;
  background-color: whitesmoke;
  margin-left: -5px;
}

.card-redacao {
  width: 19%;
  background-color: whitesmoke;
  padding: 0px;
  margin-right: 13px;
  border-radius: 10px;
}

.img-redacao {
  border-radius: 10px;
  text-align: center;
  background-color: black;
  width: 70%;
  left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 15px;
}

.img-redacao img {
  min-height: 70%;
  min-width: 70%;
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
}

.word-content {
  margin-top: 10px;
  text-align: center;
  width: 70%;
  left: 15%;
  position: relative;
}

.word-content h6 {
  font-size: 14px;
}

.word-type-label {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 500;
  z-index: 10;
  font-size: 13px
}

.borda {
  max-width: 100%;
  margin: 1rem;
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  min-height: 95%;
}

.admin-chat-container {
  display: grid;
  grid-template-columns: 300px 1fr 20px;
  height: 83vh;
  font-family: 'Segoe UI', sans-serif;
}

.chat-sidebar {
  background: #f5f5f5;
  padding: 1rem;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  height: 83vh;
}

.chat-item {
  padding: 1rem;
  cursor: pointer;
  border-top: 1px solid #ddd;
  margin-left: -15px;
  margin-right: 20px;
  padding-left: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  background: whitesmoke;
  font-weight: 350;
}

.chat-item.active {
  background-color: #ddddddd9;
  font-weight: 500;
}

.menu-link {
  font-size: 16px !important;
}

.user-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  object-position: top;
}

.user-avatar-max {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  object-position: top;
}

.chat-text {
  flex: 1;
  margin-top: 10px;
}

.chat-main {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 83vh;
}

.chat-header {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.chat-messages {
  padding: 1rem;
  overflow-y: auto;
  height: 83vh;
}

.message {
  margin-bottom: 0.5rem;
  padding: 0.6rem 1rem;
  border-radius: 15px;
  max-width: 70%;
  font-size: 15px;
  font-weight: 450;
}

.message.admin {
  background: #d1ecf1;
  align-self: flex-end;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.message.user {
  background: #c3e6cb;
  align-self: flex-end;
  margin-left: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.chat-input {
  padding: 1rem;
  border-top: 1px solid #ccc;
  background: #35353513;
  width: 100%;
}

.chat-input .input-group {
  width: 100%;
}

.chat-input .form-control {
  width: 100%;
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
  color: white;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.chat-input .btn {
  border-radius: 0 0.25rem 0.25rem 0;
  flex-shrink: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-size: 13px;
  font-weight: 370;
}

.video-file-name {
  font-size: 13px;
  font-weight: 500px;
}

.table-admin {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-top: -10px;
  overflow-x: auto;
  background-color: whitesmoke;
}

.table-admin table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
}

.table-admin th,
.table-admin td {
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
  padding: 6px !important;
}

.table-admin thead th {
  background-color: #acacac0a;
  font-weight: 500;
  font-size: 14px;
  padding: 6px !important;
}

.table-admin tbody tr:hover {
  background-color: #000000;
  transition: background-color 0.2s ease;
}

.table-admin td:last-child i {
  cursor: pointer;
  transition: color 0.3s;
}

.table-admin td:last-child i:hover {
  color: #0d6efd;
}

.badge {
  background-color: #1d1d1d;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  width: 14.5px;
  height: 15.5px;
}

.badge-admin {
  background-color: #1d1d1d;
  color: white;
  padding: 3px;
  margin-right: 10px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 3px;
}

.notification-badge {
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.88);
  color: black;
  border-radius: 50%; /* garante círculo */
  padding: 0; /* remove padding para não distorcer */
}

.preco-riscado {
  text-decoration: line-through;
  margin-left: 3px;
  font-size: 14px;
  color: #888;
}

.hover {
  transition: transform 0.3s ease-in-out;
}

.hover:hover {
  transform: scale(1.008);
}

.hover-medium {
  transition: transform 0.3s ease-in-out;
}

.hover-medium:hover {
  transform: scale(1.05);
}

.hover-max {
  transition: transform 0.3s ease-in-out;
}

.hover-max:hover {
  transform: scale(1.1);
}

.vestibulares {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-top: -12px;
}


.vestibulares h2 {
  text-align: center;
  margin-bottom: -10px;
  font-weight: 50;
  font-size: 25px
}

.vestibulares hr {
  opacity: 20%;
  background-color: #302d2d; /* tom de cinza claro */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
}

.vestibular {
  display: flex;
  flex-wrap: wrap;
  gap: 30px
}

.vestibular-card img{
  width: 260px;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.vestibular-card {
  transition: transform 0.3s ease;
}

.vestibular-card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.vestibular-card:hover img {
  opacity: 80%;
}

.beneficios{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  gap: 2rem;
}

.beneficio{
  background: #3a3a3aa9;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.795);
  text-align: center;
  transition: transform .35s ease;
  height: 85px;
  width: 100%;
}

.beneficio:hover{
  transform: scale(1.03);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.chat-tabs-container {
  margin-bottom: 10px;
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  width: 100%;
}

.chat-tabs-container a {
  flex: 1;
  min-width: 0;
  text-decoration: none;
  color: white;
}

.chat-tab.active {
  background-color: #0d6efd;
  color: white;
}

.search-form-alunos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: border 0.3s ease;
  height: 40px;
}

.search-input-alunos {
  flex: 1;
  border: none;
  outline: none;
  padding: 0px 10px;
  font-size: 16px;
  border-radius: 10px;
}

.progress { /* cinza claro */
  border-radius: 10px;
  overflow: hidden;
  background-color: gray;
}

.progress-bar {
  border-radius: 30px;
  transition: width 0.4s ease;
  background-color:rgba(0, 0, 0, 0.47);
}

.sticky-chat-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.background-filter {
  background-color: rgba(116, 116, 116, 0.044);
  border-radius: 3px;
  box-shadow: 0 4px 12px rgba(0.2,0.2,0.2,0.3);
}

.select2-container--bootstrap4 .select2-selection--single {
  height: calc(1.8125rem); /* igual ao form-select-sm */
  padding: 0rem 0rem;
  font-size: 0.875rem; /* sm */
  line-height: 1.5;
  border-radius: 0.2rem;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 0;
  line-height: 0.5;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
  height: 100%;
  top: 0;
  right: 0.5rem;
}

.notification-bubble {
  background-color:rgba(201, 201, 201, 0.494);
  color: black;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 15px;
}

.bolinha-span {
  font-size: 13px;
}

.notifications-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  z-index: 1000;
  display: none;
}
.notifications-dropdown.active {
  display: block;
}
.notification-item {
  padding: 10px;
  font-size: 13px;
  border-bottom: 1px solid #eee;
}
.notification-item:last-child {
  border-bottom: none;
}

.form-actions-sticky {
  position: sticky;
  top: 0;
  background-color: whitesmoke; /* ou a cor de fundo do seu layout */
  z-index: 1000; /* alto o suficiente para ficar sobre outros elementos */
  padding: 1px 0; /* opcional */
  border-bottom: 1px solid #ddd; /* opcional, só pra destacar */
  margin-top: 5px;
}