#modulos {
  display: flex; /* Alinha os itens em uma linha */
  flex-wrap: wrap; /* Permite quebrar a linha se os itens não couberem */
  gap: 10px; /* Espaçamento entre os módulos */
}

/* Módulos individuais */
#modulos .modulo {
  display: flex; /* Flexbox para cada módulo */
  flex-direction: column; /* Cada módulo terá seus itens empilhados verticalmente */
  padding: 15px; /* Padding interno dos módulos */
  border: 1px solid #ccc; /* Borda para cada módulo */
  border-radius: 15px; /* Borda arredondada */
  width: 24%; /* Largura de cada módulo */
  background-color: #f9f9f9; /* Cor de fundo dos módulos */
  margin-top: 20px;
}

.modulo button {
  font-weight: 600;
  padding: 3px;
}

.aulas {
  margin-top: -5px;
}

.aula {
  background-color: rgba(128, 128, 128, 0.411);
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
}

.video-upload label {
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 600;
}

.video-upload i {
  font-size: 1.5rem; /* Ajusta o tamanho do ícone */
}

td:first-child, th:first-child {
  text-align: center;
  vertical-align: middle;
}

input[type="checkbox"] {
  transform: scale(1.3);
  margin: 5px;
}

.preview_card {
  padding: 10px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.411);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.img {
  padding: 15px;
  border-radius: 20px;
}

.preview_content {
  max-width: 40%;
  margin-left: 20px;
}

.container-redacoes {
  background-color: gainsboro;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.container-redacoes-escolhidas {
  background-color: gray;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.card-redacao {
  width: 19%;
  background-color: whitesmoke;
  padding: 0px;
  margin-right: 13px;
  border-radius: 10px;
}

.img-redacao {
  border-radius: 10px;
  text-align: center;
  background-color: black;
  width: 70%;
  left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-redacao img {
  min-height: 70%;
  min-width: 70%;
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
}

.word-content {
  margin-top: 10px;
  text-align: center;
  width: 70%;
  left: 15%;
  position: relative;
}

.word-type-label {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 500;
  z-index: 10;
}
