@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-top: solid 8px rgb(71,203,255);
  border-right: solid 8px rgba(0,0,0,.1);
  border-bottom: solid 8px rgba(0,0,0,.1);
  border-left: solid 8px rgba(0,0,0,.1);

  animation: 1.5s linear infinite spin;
}

.container-curso {
  padding: 0;
  margin: 0;
  margin-top: -50px;
  background-color: #e9e9e9;
}

.faixa {
  height: 300px;
}

.content-curso {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.content-curso p {
  font-size: 20px
}

.course-container {
  background-color: #111;
  color: white;
  padding: 30px;
  border-radius: 8px;
}

.course-info {
  max-width: 60%;
}

.breadcrumb {
  font-size: 14px;
  color: #bbb;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
}

.subtitle {
  font-size: 18px;
  margin: 10px 0;
  color: #6e6e6e;
}

.meta span {
  font-size: 15px;
}

.badge {
  background-color: #1d1d1d;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  margin-right: 10px;
}

.curso-preview {
  position: relative;
  z-index: 1;
}

.preview-text {
  text-align: center;
  margin-top: 10px;
}

.compra-box {
  background: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin: 1px auto;
}

.pagar-box {
  background: whitesmoke;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin: 1px auto;
}

.preco {
  margin-top: 6px;
}

.preco-atual {
  font-size: 16px;
  font-weight: lighter;
  color: #1c1c1c;
}

.preco-riscado {
  text-decoration: line-through;
  margin-left: 8px;
  color: #888;
}

.preco-antigo {
  font-size: 18px;
  font-weight: 600;
  color: #1c1c1c;
}

.tempo-restante {
  color: #b10b0b;
  font-size: 10px;
  margin-top: -7px;
  margin-bottom: 7px;
}

.btn-comprar {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.btn-comprar:hover {
  transform: scale(1.03);
}

.btn-pix {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #77B6A8;
  color: white;
}

.btn-pix:hover {
  transform: scale(1.03);
  color: white;
  background-color: #77B6A8;
}

.btn-carrinho {
  width: 100%;
  margin-top: 9px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.btn-carrinho:hover {
  transform: scale(1.1); /* Aumenta 20% */
  color: rgb(0, 0, 0);
}

.btn-roxo {
  background-color: #1d1d1d;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.btn-branco {
  background-color: white;
  border: 2px solid #1d1d1d;
  color: #1d1d1d;
}

.garantias {
  list-style: none;
  padding: 0;
  margin: 15px 0 10px 0;
  font-size: 13px;
  color: #444;
}

.links-extra {
  text-align: center;
  font-size: 13px;
  color: #555;
  margin-bottom: 15px;
}

.links-extra a {
  text-decoration: none;
  color: #555;
}


.cupom-box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.btn-aplicar {
  width: 100%;
  padding: 10px;
  background-color: #1d1d1d;
  color: white;
  border: none;
  border-radius: 5px;
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.user-dropdown-button:hover {
  transform: scale(1.03);
}

.cart-toggle i {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.cart-toggle:hover i {
  transform: scale(1.1);
}

.user-dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 200px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.user-dropdown:hover .user-dropdown-menu {
  display: block;
}

.user-dropdown-menu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}

.user-dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.arrow-up {
  position: absolute;
  top: -10px;
  right: 12px; /* Ajuste horizontal conforme o botão */
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid white; /* mesma cor do fundo do menu */
  z-index: 1001; /* acima da dropdown */
}

@media (max-width: 450px) {
  .arrow-up {
    right: 5px;
  }
}

.user-icon {
  font-size: 1.8rem;
  color: #1d1d1d;
}

.curso-imagem {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto 15px auto;
}

.accordion-button:focus {
  box-shadow: 0 2px 19px rgba(0, 0, 0, 0.1);
  outline: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 2px 19px rgba(0, 0, 0, 0.1);
}

.aula-link {
  text-decoration: none;
  color: black;
  font-weight: 100;
}

.aula-ativa {
  font-weight: bold;
  text-decoration: underline;
}

.select-curso:hover {
  transform: scale(1.03); /* Aumenta 20% */
}

.imagem-carrinho {
  border-radius: 10px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.imagem-carrinho:hover {
  transform: scale(1.2); /* Aumenta 20% */
  z-index: 10;
}

.price-bold {
  font-weight: 600;
  font-size: 18px;
  margin-top: -5px;
}

.itens-curso {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 160px;
}

.item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.item i {
  font-size: 20px;
  margin-right: 10px;
  color: #333;
}

.card-warning {
  padding: 10px;
  border-radius: 10px;
  width: 50%;
}

.add-to-cart-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.add-to-cart-btn i {
  transition: color 0.2s;
}

.add-to-cart-btn:hover i {
  color: #0a58ca;
}

.bolinha {
  background-color:rgb(201, 201, 201);
  color: black;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;   /* Centraliza horizontalmente */
  align-items: center;       /* Centraliza verticalmente */
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 3px;
}