html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.container-dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left-panel {
  width: 260px;
  background-color: rgba(0, 0, 0, 0.94);
  padding: 20px;
  box-sizing: border-box;
}

.right-panel {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.94);
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.scrollable-content {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  background-color: #e9e9e9;
  border-radius: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

.menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: gray;
  transition: width 0.2s ease-in-out;
  opacity: 1;
}

.menu a:hover::after,
.menu a.active::after {
  width: 78%;
}

.menu a.active {
  font-weight: 600;
}

.custom-hr {
  color: white;
  width: 200px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: border 0.3s ease;
}

nav.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 10px;
}

.search-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.1s ease;
}

.search-button:hover {
  transform: scale(1.1);
}

.custom-btn {
  margin-top: -10px;
}

.custom-btn a {
  transform: scale(1);
  border: none;
}

.custom-btn a:hover {
  transform: scale(1.1);
}

.container-right-panel {
  margin-top: 20px;
  margin-left: 20px;
}

.user {
  display: flex;
  gap: 40px;
}

.user a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

.curso-content {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: -20px;
  width: 200px;
}

.container-continuar-assistindo {
  display: flex;
  width: 97%;
  gap: 10px;
  margin-bottom: 40px;
}

.continuar-assistindo-content {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: -20px;
  width: 100%;
}

.continuar-assistindo-img {
  width: 100%;
}

.continuar-assistindo-img img {
  width: 44%;
  height: 200px;
  opacity: 50%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.curso-img img {
  width: 200px;
  height: 140px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  margin-top: -10px;
}

.curso-texto {
  margin-bottom: 5px;
  margin-top: -50px;
  text-align: center;
}

.curso-texto-assitindo {
  flex: 1;
  min-width: 200px;
}

.curso-texto h5 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.curso-texto p {
  font-size: 13px;
  color: #333;
}

.carousel-section {
  width: 99%;
  height: 100px;
  max-height: 10px;
  min-height: 200px;
}

.carousel-wrapper {
  position: relative;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background:black;
  opacity: 50%;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 30%;
  z-index: 10;
}

.carousel-btn.prev {
  left: 20px;
}

.carousel-btn.next {
  right: 20px;
}

.carousel-container {
  overflow-x: hidden;
  background-color: #e9e9e9;
  border-radius: 10px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08);
  padding: 1.8rem;
}

.carousel-track {
  transition: transform 0.7s ease-in-out;
  display: flex;
  align-items: stretch;
  gap: 15px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.01s ease;
}

.play-button:hover {
  font-size: 26px;
}

.email-text {
  font-size: 16px;
  font-weight: 600;
  color: black;
  position: relative;
  white-space: nowrap;
  bottom: 8px;
  left: 2px;
}

.right {
  margin-right: 5px;
  display: flex;
}

.progress-background {
  position: absolute;
  top: 50%;
  left: 0;
  width: 44%;
  height: 35px;
  background-color: gray;
  border-radius: 8px;
  transform: translateY(-50%);
  z-index: 0;
}

.progress-fill {
  height: 44%;
  width: 44%;
  background-color: black;
  border-radius: 8px;
  transition: width 0.4s;
}

.curso-card {
  width: 21%;
  padding: 1.0rem;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  margin: 0;
}

.carrinho-cursos-card {
  box-shadow: 0 4px 10px rgba(1,1, 1, 0.4);
  background-color: whitesmoke;
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  height: 125px
}

.carrinho-cursos-card:hover {
  transform: scale(1.02);
  z-index: 10;
  position: relative;
}

.carrinho-cursos-card:hover img {
  filter: blur(0px);
}

.carrinho-cursos-card img {
  width: 25%;
  height: 85%;
  object-fit: scale-down;
  filter: blur(1.5px);
  transition: filter 0.5s ease-in-out;
  border-radius: 5px;
  margin-left: 20px;
}

.carrinho-cursos-card h1 {
  font-size: 17px;
  padding: 8px;
}

.cursos-card {
  box-shadow: 0 4px 10px rgba(1,1, 1, 0.4);
  background-color: whitesmoke;
  width: 100%;
  border-radius: 10px;
  height: 155px;
  transition: transform 0.3s ease-in-out;
  padding: 5px;
  overflow: hidden;
}

.cursos-card:hover {
  transform: scale(1.02);
  z-index: 10;
  position: relative;
}

.cursos-card:hover img {
  filter: blur(0px);
}

.cursos-card img {
  width: 80%;
  object-fit: contain;
  filter: blur(1.5px);
  transition: filter 0.5s ease-in-out;
  border-radius: 10px;
}

.cursos-card h1 {
  font-size: 17px;
  padding: 8px;
}

.meus-cursos-card {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.meus-cursos-card:hover {
  transform: scale(1.06);
}

.meus-cursos-card:hover img {
  filter: blur(0px);
}

.meus-cursos-card:hover i {
  transform: scale(1.15);
}

.meus-cursos-card img {
  width: 100%;
  height: 170px;
  object-fit: scale-down;
  filter: blur(1.3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.meus-cursos-card h1 {
  font-size: 17px;
  padding: 8px;
}

.meus-cursos-card i {
  transition: transform 0.3s ease-in-out;
  margin-left: 2px;
  margin-top: -1px;
}

.select2-container .select2-selection--single {
  height: 38px;
  padding: 5px;
}

.redacoes-card {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.redacoes-card:hover {
  transform: scale(1.06);
}

.redacoes-card:hover img {
  filter: blur(0px);
}

.redacoes-card:hover i {
  transform: scale(1.15);
}

.redacoes-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  filter: blur(1.3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.redacoes-card h1 {
  font-size: 17px;
  padding: 8px;
}

.redacoes-card i {
  transition: transform 0.3s ease-in-out;
  margin-left: 2px;
  margin-top: -1px;
}

.continuar-curso-card {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.continuar-curso-card:hover {
  transform: scale(1.02);
}

.continuar-curso-card:hover img {
  filter: blur(0px);
}

.continuar-curso-card:hover i {
  transform: scale(1.15);
}

.continuar-curso-card img {
  width: 100%;
  height: 170px;
  filter: blur(3px);
  transition: filter 0.5s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.scale-down {
  object-fit: scale-down;
}

.cover {
  object-fit: cover;
}

.continuar-curso-card h1 {
  font-size: 17px;
  padding: 8px;
}

.continuar-curso-card i {
  transition: transform 0.3s ease-in-out;
  margin-left: 2px;
  margin-top: -1px;
}

.transition-rotate {
  transition: transform 0.3s ease;
}

.modal-backdrop.show {
  z-index: 1040;
}

.modal.show {
  z-index: 1050;
}

.modal-dialog.top-modal {
  margin-top: 15vh; /* ou qualquer valor que você desejar */
}

@keyframes zoomIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-top: solid 8px rgb(71,203,255);
  border-right: solid 8px rgba(0,0,0,.1);
  border-bottom: solid 8px rgba(0,0,0,.1);
  border-left: solid 8px rgba(0,0,0,.1);

  animation: 1.5s linear infinite spin;
}

.scroll {
  overflow: hidden;
  background-color: black;
}

.scroll_container {
  display: flex;
  width: max-content;
  animation: scrollInfinito 30s linear infinite;
}

.scroll_item {
  color: white;
  font-size: 17px;
  /* white-scape: Comando muito importante, permite com que o item nunca quebre a linha para baixo no caso do 'nowrap' */
  white-space: nowrap;
  padding-right: 200px;
}

@keyframes scrollInfinito {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.card-filter {
  box-shadow: 0 4px 10px rgba(1,1, 1, 0.2);
  background-color: whitesmoke;
  width: 100%;
  border-radius: 10px;
  height: 135px;
}

.form-switch .form-check-input {
  transform: scale(1.3); /* Aumenta proporcionalmente */
}

/* contêiner da imagem */
.img-wrapper {
  overflow: hidden;             /* evita que o overlay ultrapasse a borda */
  cursor: pointer;
  border-radius: 0;
}

/* link overlay – inicialmente invisível */
.overlay-link {
  position: absolute;
  inset: 0;                     /* top/right/bottom/left = 0 */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
  transition: opacity 0.25s ease;
  font-size: 15px;
  letter-spacing: 0.1px;
  width: 80%;
  height: 97.9%;
  border-radius: 5px;
  margin-top: 2px;
}

/* ao passar o mouse no contêiner .img-wrapper, mostra o overlay */
.img-wrapper:hover .overlay-link {
  opacity: 1;
}

.form-check-label {
  font-weight: 450;
  font-size: 15px;
}

.alert {
  font-size: 15px;
}