* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -25px;
}

.logo img {
  height: 200px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

.menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.2s ease-in-out;
}

.menu a:hover::after {
  width: 100%;
}

.text-custom {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.btn {
  padding: 20px;
  border-radius: 15px;
}

.scroll {
  overflow: hidden;
  background-color: whitesmoke;
}

.scroll_container {
  display: flex;
  width: max-content;
  animation: scrollInfinito 30s linear infinite;
}

.scroll_item {
  color: black;
  font-size: 17px;
  /* white-scape: Comando muito importante, permite com que o item nunca quebre a linha para baixo no caso do 'nowrap' */
  white-space: nowrap;
  padding-right: 200px;
}

.container-body {
  max-width: 2000px;
  margin-inline: auto;
  margin-top: -10px;
}

.banner {
  display: flex;
  justify-content: center;
}

@keyframes scrollInfinito {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}